---
- name: Test zos_dconcat playbook
  hosts: all
  gather_facts: false
  environment: "{{ environment_vars }}"
  vars:
    src: "audit.current.seq"
    change: "audit.previous.seq"
    merge: "audit.all.seq"

    # export SRC_DATA_SET_NAME=""
    # export COMPARE_DATA_SET_NAME=""
    # export EMPTY_DATA_SET_NAME=""
  tasks:
    - name: "Diff {{ src }} with {{ change }} and append differences to {{ src }}"
      ddimatos.zos_modules.zos_dconcat:
        src: "{{ src }}"
        change: "{{ change }}"
        merge: "{{ merge }}"
        state: "audit"
      register: result

    - name: Print result
      ansible.builtin.debug:
        msg: "{{ result.stdout_lines}}"